{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <header id="header">
        <span class="logo">
            Bookmarks
        </span>
    </header>
    <main id="content">
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>

